In [6]:
import pandas as pd
import numpy as np 
import re 
import collections
from argparse import Namespace

In [5]:
# load data
args = Namespace(
    raw_train_dataset_csv="./data/raw_train.csv",
    raw_test_dataset_csv="./data/raw_test.csv",
    train_proportion=0.7,
    val_proportion=0.3,
    output_munged_csv="./data/reviews_with_splits_full.csv",
    seed=1337
)

# 원본 데이터를 읽습니다
train_reviews = pd.read_csv(args.raw_train_dataset_csv, header=None, names=['rating', 'review'])
train_reviews = train_reviews[~pd.isnull(train_reviews.review)]
test_reviews = pd.read_csv(args.raw_test_dataset_csv, header=None, names=['rating', 'review'])
test_reviews = test_reviews[~pd.isnull(test_reviews.review)]

In [7]:
train_reviews.head()

   rating                                             review
0       1  Unfortunately, the frustration of being Dr. Go...
1       2  Been going to Dr. Goldberg for over 10 years. ...
2       1  I don't know what Dr. Goldberg was like before...
3       1  I'm writing this review to give you a heads up...
4       2  All the food is great here. But the best thing...

In [8]:
test_reviews.head()

   rating                                             review
0       1  Ordered a large Mango-Pineapple smoothie. Stay...
1       2  Quite a surprise!  \n\nMy wife and I loved thi...
2       1  First I will say, this is a nice atmosphere an...
3       2  I was overall pretty impressed by this hotel. ...
4       1  Video link at bottom review. Worst service I h...

In [9]:
from tqdm import tqdm
by_rating = collections.defaultdict(list)
for _, row in tqdm(train_reviews.iterrows(), total = len(train_reviews)) :
    by_rating[row.rating].append(row.to_dict())

# 별점 순으로

  0%|          | 1/560000 [00:00<32:23:23,  4.80it/s]

100%|██████████| 560000/560000 [00:43<00:00, 13013.05it/s]

In [14]:
by_rating.keys()

dict_keys([1, 2])